<form enctype="multipart/form-data" method="post"> {% comment %} comando para crear el formulario {% endcomment %}
    

<div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="nombre"
    />
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>


</form>{% comment %} comando para cerrar el formulario {% endcomment %}
    