<form enctype="multipart/form-data" method="post"> {% comment %} comando para crear el formulario {% endcomment %}

{% csrf_token %} {% comment %} comando para crear el token de seguridad {% endcomment %}

{% for campo in formulario_producto %} {% comment %} comando para crear los campos del formulario {% endcomment %}

    <div class="mb-3">
        <label for="" class="form-label">{{campo.label}}</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %} {% comment %} if para mostrar las imagenes en el formulario de editar{% endcomment %}  
        <br/>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100" height="100"/>
        {%endif%}
        <input
            type="{{campo.field.widget.input_type}}"
            class="form-control"
            name="{{campo.name}}"
            id=""
            aria-describedby="helpId"
            placeholder="{{campo.label}}"
            value="{{campo.value | default:''}}"
        />
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>

    <div class= "col-12 help-text">{{campo.errors}}</div> {% comment %} comando para mostrar los errores {% endcomment %}


{%endfor%} {% comment %} comando para cerrar el ciclo for {% endcomment %}

<input name="" 
id=""
class="btn btn-success"
type="submit"
value="enviar información"/> {% comment %} comando para crear el boton de agregar o editar servicio {% endcomment %}

<a  name=""
    id=""
    class="btn btn-danger"
    href="{%url 'productos'%}"
    role="button">Cancelar</a>


</form>{% comment %} comando para cerrar el formulario {% endcomment %}
    