{% extends 'partials/body.html' %} {% comment %} extiende al template base {% endcomment %}
{% load static %}

{% block titulo %} {% comment %} abre el bloque para titulo {% endcomment %}
aqui se edita un servicio
{% endblock %} {% comment %} cierra el bloque para titulo {% endcomment %}

{% block contenido %} {% comment %} abre el bloque para contenido (formulario) {% endcomment %}

<div class="card">
    <div class="card-header">editar un servicio</div>
    <div class="card-body">
        <h4 class="card-title">información del servicio</h4>
        {%include 'servicios/form.html' %}
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %} {% comment %} cierra el bloque para contenido  (formulario){% endcomment %}